<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Meow.FR.Rincevent.Display.MiniWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Meow.FR.Rincevent.Display.MiniWindow.Properties.Settings>
            <setting name="AutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timer" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AutoScrollTimer" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>220, 110</value>
            </setting>
            <setting name="Discreet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontAutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerMinimum" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimerMaximum" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TimerRandom" serializeAs="String">
                <value>False</value>
            </setting>
        </Meow.FR.Rincevent.Display.MiniWindow.Properties.Settings>
    </userSettings>
</configuration>