<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Meow.FR.Rincevent.Core.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Meow.FR.Rincevent.Core.Gui.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="AntiBossEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AntiBossKey1" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="AntiBossKey2" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="HideOnPlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomMode" serializeAs="String">
                <value>PlayAll</value>
            </setting>
            <setting name="NewItemChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFirstStart" serializeAs="String">
                <value>True</value>
            </setting>
        </Meow.FR.Rincevent.Core.Gui.Properties.Settings>
    </userSettings>
</configuration>